<h1>Pet Details</h1>
<%= show_errors_for(@feeding) %>

<h1><%= @pet.name %></h1>
<h3><%= @pet.species %></h3>
<h3><%= @pet.diet_requirements %></h3><br />

<button><%= link_to "#{@pet.name}'s Feedings", pet_feedings_path(@pet) %></button>
<button><%= link_to "New Feeding for #{@pet.name}", new_pet_feeding_path(@pet) %></button>


<button><%= link_to "Edit Pet", edit_pet_path(@pet) %></button>
<%= form_tag(pet_path(@pet), method: :delete, style: 'display: inline-block;') do %>
  <%= submit_tag "Delete Pet" %>
<% end %><br />


 <h3>Feedings:</h3>
  <ul>
  <% @pet.feedings.each do |feeding| %>
    <li><%= link_to feeding.description, pet_feeding_path(@pet, feeding)  %> in the <%= feeding.category %></li>
  <% end %>
  </ul>

